body{
    margin: 0;
}
#debug{
    position: fixed;
    bottom:0px;
    left:0px;
    background-color: rgb(48, 48, 48);
    color:white;
    padding-left: 10px;
}


/* explanation: */
/* width:100%; means full width of browser */
/* height:100vh; means full height of viewport */


/* #wrapper{
    background-color: lightblue;
    width:100%; 
    height:100vh; 
    position: absolute;
    left:0;
    top:0;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
}
#square{
    width:100px;
    height:100px;
    background-color: bisque;
    transform: rotate(-25deg);
    transform-origin: 50% 50%;
} */
